/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

a {
    text-decoration: none;
    color: inherit;
}

.api_limit {
    text-align: center;
    color: #009CCB;
}

.outstanding_prs {
    padding-bottom: 25px;
}

.outstanding_prs .number {
    display: inline;
    font-weight: bold;
}

.hidden {
    display: none;
}

h1,h3 {
    font-size: 125%;
    font-weight: 500;
    margin-bottom: 10px;
}

.header {
    background-color: #009CCB;
    padding: 20px 20px 10px 20px;
    color: white;
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    font-size: 300%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 150px;
}

body > .inner {
    width: 75%;
    margin: 0 auto;
}

.today {
    padding-bottom: 30px;
}

.repo {
}

.min {
    display: inline-block;
    color: white;
    opacity: 0.4;
    padding: 3px;
    font-weight: bold;
    font-size: 75%;
    border: 2px solid #009CCB;
    background-color: #009CCB;
}

.blue_title {
    background-color: #009CCB;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    color: white;
    width: auto;
    display: inline-block;
}

.prs {
    padding-bottom: 20px;
}

.pr {
    color: black;
    margin: 5px 0px 5px 0px;
    padding: 7px;
    border-bottom: solid rgba(0,0,0,0.1) 1px;
}

.pr_title {
    display: inline-block;
    padding-right: 7px;
}

.pr_time {
    display: inline-block;
    padding-right: 7px;
    color: #009CCB;
}

.pr_author {
    display: inline-block;
    color: #009CCB;
}

.spinner {
    width: 74px;
    height: 71px;
    margin: 100px auto;
    -webkit-animation: rotateplane 4s infinite ease-in-out;
    animation: rotateplane 4s infinite ease-in-out;
}
.spinner > img {
    width: 100%;
    height: 100%;
}

.content {
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer a {
    color: #009CCB;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(147px) rotateX(0deg) rotateY(0deg); }
    50% { -webkit-transform: perspective(147px) rotateX(0deg) rotateY(-179.9deg); }
    100% { -webkit-transform: perspective(147px) rotateX(0deg) rotateY(0deg); }
}

@keyframes rotateplane {
    0% {
        transform: perspective(147px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(147px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(147px) rotateX(0deg) rotateY(-179.9deg);
        -webkit-transform: perspective(147px) rotateX(0deg) rotateY(-179.9deg);
    }
    100% {
        transform: perspective(147px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(147px) rotateX(0deg) rotateY(0deg);
    }
}
